{% extends 'base.html.twig' %}

{% block title %}Hello Controlador1Controller!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/mark/Escritorio/kubectl4everyone/src/Controller/Controlador1Controller.php'|file_link(0) }}">src/Controller/Controlador1Controller.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/mark/Escritorio/kubectl4everyone/templates/controlador1/index.html.twig'|file_link(0) }}">templates/controlador1/index.html.twig</a></code></li>
    </ul>
	<div>
		<!--<code>{{ info_app | raw }}</code>-->
		{{ info_app | raw }}
		<!--<<table >
			<tr>
				<td>name</td>
				<td>ready</td>
				<td>status</td>
				<td>restart</td>
			</tr>
			<tr>
				<td></td>
			</tr>
		</table>-->

	</div>
</div>
{% endblock %}
